/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #063c3e;
  color: white;
  padding: 10px 50px;
}

.logo {
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
}

.logo_reyad {
  color: #ff3557;
}

.menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu.open .bar:nth-child(2) {
  opacity: 0;
}

.menu.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(255, 49, 49);
  margin: 3px 0;
  transition: 0.4s;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.nav-items.open {
  flex-direction: column;
  position: absolute;
  background-color: #074448;
  top: 51px;
  right: 20px;
  width: 200px;
  text-align: center;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
  padding: 10px;
}

.nav-items.open li {
  margin: 20px 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #f02d2d;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 10px 15px;
  }
  .menu {
    display: flex;
  }

  .nav-items {
    display: none;
  }

  .nav-items.open {
    display: block;
  }

  .logo {
    font-size: 14px;
    font-weight: 400;
  }
}
