input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.contact_background {
  display: flex;
  min-height: 80vh;
  margin-bottom: 0px;
  background-color: #107d79;
  margin-top: 0px;
}

.contact_container {
  flex: 0 0 700px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 30px;
}

.screen {
  background: #0a2e34;
  border-radius: 15px;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #044c50;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #65ffc9;
}

.screen-header-button.maximize {
  background: #ff4040;
}

.screen-header-button.minimize {
  background: #82ff47;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #dbdbdb;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #1ea7a3;
  font-size: 26px;
  text-align: left;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 84px;
  height: 2px;
  background: #179793;
}

.app-contact {
  margin-top: auto;
  font-size: 9px;
  color: #d8d8d8ac;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff53;
  color: #e6e6e6;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #ffffff59;
  font-weight: 500;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #1bada9;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #2bc5b8;
}

/* Mobile-specific styles */
@media screen and (max-width: 768px) {
  .contact_container {
    flex: 0 0 90%;
  }

  .screen-body {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .screen-body-item {
    flex: none;
    padding: 0;
    margin-bottom: 20px;
  }

  .app-title {
    flex-direction: column;
    text-align: center;
  }

  .app-title span {
    margin: 0;
  }

  .app-title:after {
    display: none;
  }
}
